.fadeOutRight{
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRight{
	from{
		opacity: 1;
		-webkit-transform: translate(0, 0);
	}
	to{
		opacity: 0;
		-webkit-transform: translate(100%, 0);
	}
}

@keyframes fadeOutRight{
	from{
		opacity: 1;
		transform: translate(0, 0);
	}
	to{
		opacity: 0;
		transform: translate(100%, 0);
	}
}
