.scaleInLeft{
	-webkit-animation-name: scaleInLeft;
	animation-name: scaleInLeft;
}

@-webkit-keyframes scaleInLeft{
	0%{
		opacity: 0;
		-webkit-transform: scale(0.5) translate(300%, 0);
	}
	50%{
		opacity: 1;
		-webkit-transform: scale(0.5) translate(0, 0);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1) translate(0, 0);
	}
}

@keyframes scaleInLeft{
	0%{
		opacity: 0;
		transform: scale(0.5) translate(300%, 0);
	}
	50%{
		opacity: 1;
		transform: scale(0.5) translate(0, 0);
	}
	100%{
		opacity: 1;
		transform: scale(1) translate(0, 0);
	}
}
